.btn {
    border-color: #2abbca;
    color: #2abbca;
    margin-right: 10px;
    width: 120px;
}

.btn:hover {
    background-color: #2abbca;
    color: white;
}

.row {
    margin-top: 150px;
}

.labels {
    margin-top: 10px;
}

// .body-image {
//     background-image: url('../../../assets/home-page.png');
//     background-size: cover;
//     background-position: center;

// }