<!-- <app-nav-bar></app-nav-bar> -->
<div class="container-fluid" id="cardModal" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-2 pe-0">
            <div class="p-0">
                <app-filter-section></app-filter-section>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row" style="margin-left: 50px;">
                @for(post of posts; track post.id){
                <div class="col-md-4" style="width: 18rem;">
                    <div class="card mb-4">
                        <img class="card-img-top" src="../../../assets/lost-item.jpg" alt="Lost item">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.description}}</p>
                            <a [routerLink]="['/posts', post.id]" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
