.btn {
    background-color: #2abbca;
    border-color: #2abbca;
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: 1px solid black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.80s ease-out; 
}

.filter-container {
    background-color: white; 
    height: 100vh; 
    padding: 70px; /* Add padding to create space */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 250px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

.col-md-10 {
    margin-left: 250px; 
}

.input-field {
    padding-top: 20px; /* Adjust as needed */
}

.custom-input {
    width: 180px; /* Set a specific width */
    
}
body {
    background-image: none !important;
}

.no-gutters{
    width: 1000px;
}

.card-body{
    width: 600px;
}
.custom-card {
    margin-bottom: 10px; /* Adjust the margin value as needed */
}

.post-container{
    margin-top: 20px;
}
.col-md-4 {
    padding: 0;
}
.card-img {
    padding: 0;
}
.row {
    margin-left: 0;
}