<!-- <app-nav-bar></app-nav-bar> -->
<section class="bg-light text-center py-5" id="sec-27b9">
    <div class="container position-relative">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <img class="img-fluid" src="../../../assets/home-page.png" id="background-image" alt="Findify">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <h1 class="display-4 text-center">Findify</h1>
                    <div class="btn-group mt-3" role="group">
                        <p id="buttons"><a [routerLink]="['/lost-items']" class="btn btn-custom text-uppercase">изгубено</a>|<a
                                [routerLink]="['/found-items']" class="btn btn-custom text-uppercase">најдено</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>