<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-2 pe-0">
            <div class="p-0">
                <app-filter-section></app-filter-section>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row" style="margin-left: 50px;">
                <div class="col-md-4" *ngFor="let post of posts" style="width: 18rem;">
                    <div class="card mb-4">
                        <img class="card-img-top" src="../../../assets/lost-item.jpg" alt="Lost item">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <button class="btn btn-primary" (click)="openDetailsDialog(post)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
