<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-2 pe-0">
            <div class="p-0"> <!-- Added p-0 class to remove padding -->
                <app-filter-section></app-filter-section>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row" style="margin-left: 50px;" [routerLink]="['/post-details']" >
                @for(i of arr; track i) {
                <div class="col-md-4" style="width: 18rem;">
                    <div class="card mb-4">
                        <img class="card-img-top" src="../../../assets/lost-item.jpg" alt="Lost item">
                        <div class="card-body">
                            <h5 class="card-title">Item name</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content. (Short description for the item)</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


