.btn-custom {
    background-color: #2abbca;
    border-color: #2abbca;
}

.container {
    margin-top: 10px;
}
h2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif !important;
    color: white;
}
@keyframes pulse {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.6);
    }
  }
  
  #background-image {
    animation: pulse 4s infinite;
  }