.btn-custom {
    background-color: #2abbca;
    border-color: #2abbca;
}

.container {
    margin-top: 10px;
}
h2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif !important;
    color: white;
}