<!-- <app-nav-bar></app-nav-bar> -->
<div class="container-fluid remove-background">
    <div class="row">
        <div class="col-md-2 filter-container">
            <div *ngFor="let post of posts" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img [src]="post.image" style="height: 250px; width: 300px; border-radius: 10px;" class="card-img" alt="Lost Item Picture">
                        </div>
                        <div class="col-md-3">
                            <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                                <div>
                                    <div class="post-info"><small class="text-muted"><u>{{post.category.categoryName}}</u> . <u>{{post.municipality.name}}</u> . <u>Изгубено</u></small></div>
                                    <h5 class="card-title" style="margin-top: 5px;">{{post.title}}</h5>
                                    <p class="card-text">{{post.description}}</p>
                                    <!-- <p class="card-text"><small class="text-muted">{{post.user.firstName}} {{post.user.lastName}}</small></p> -->
                                </div>
                                <div class="btnIcon align-self-end">
                                    <button type="button" class="btn" style="border-radius: 60px; color: white;" [routerLink]="['/posts', post.id]">
                                       View post  <i class="fas fa-arrow-right me-1" style="color: white;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if(posts.length === 0) {
<section class="bg-light text-center py-5" id="sec-27b9">
    <div class="container position-relative">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <img class="img-fluid" src="../../../assets/home-page.png" id="background-image" alt="Findify">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <h1 class="display-4 text-center">There are no posts for review!</h1>
                </div>
            </div>
        </div>
    </div>
</section>
}