.nav-link:hover {
    color: #2abbca;
}

.btn {
    border-color: #2abbca;
    color: #2abbca;
    margin-right: 10px;
    width: 120px;
}

.btn:hover {
    background-color: #2abbca;
    color: white;
}