.nav-link:hover {
    color: #2abbca;
}

.btn {
    border-color: #2abbca;
    color: #2abbca;
    margin-right: 10px;
    width: 120px;
}

.btn:hover {
    background-color: #2abbca;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
