<header class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">Findify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- @if(loggedIn) {
                    <li class="nav-item">
                        <b><a class="nav-link" [routerLink]="['/home']">{{currentUser?.firstName}} {{currentUser?.lastName}}</a></b>
                    </li>
                } -->
                @if(!loggedIn) {
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Најави се</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']" data-bs-toggle="modal"
                        data-bs-target="#signupModal">Регистрирај се</a>
                </li>
                }
                @if(loggedIn) {
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/your-posts']">Твои објави</a>
                </li>
                @if(currentUser?.role === "ROLE_ADMIN") {
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/pending-posts']">На чекање</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user-management']">Корисници</a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" (click)="logOut()">Одјави се</a>
                </li>
                }

            </ul>
        </div>
    </div>
    @if (loggedIn) {
    <div style="width: 150px">
        <b><a class="nav-link" [routerLink]="['/profile', currentUser?.id]">{{currentUser?.firstName}} {{currentUser?.lastName}}</a></b>
    </div>
    <div class="d-flex">

        <button type="button" [routerLink]="['/add-post']" class="btn btn-outline-primary">Објави</button>
    </div>
    }
</header>