.btn {
    background-color: #2abbca;
    border-color: #2abbca;
    margin-top: 10px;
}

input[type="radio"].form-check-input:checked {
    background-color: #2abbca;
    border-color: #2abbca;
}
#newPostModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-close {
    padding: 0.5rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    margin: 0;
}

