<div class="container-fluid" id="cardModal">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                @for (user of users.slice(0, users.length / 2); track user.id) {
                <li class="list-group-item user-item">
                    <div class="user-details">
                        <h5 class="user-name">{{ user.firstName }} {{ user.lastName }}</h5>
                        <p class="user-email">{{ user.email }}</p>
                    </div>
                    <button class="btn btn-danger delete-btn" (click)="deleteAccount(user.id)">Delete Account</button>
                </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                @for (user of users.slice(users.length / 2); track user.id) {
                <li class="list-group-item user-item">
                    <div class="user-details">
                        <h5 class="user-name">{{ user.firstName }} {{ user.lastName }}</h5>
                        <p class="user-email">{{ user.email }}</p>
                    </div>
                    <button class="btn btn-danger delete-btn" (click)="deleteAccount(user.id)">Delete Account</button>
                </li>
                }
            </ul>
        </div>
    </div>
</div>