<div  class="modal-fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/home']"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-row mb-3">
                        <div class="form-group mb-3">
                            <label>First testete</label>
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                        </div>
                        <div class="form-group mb-3">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <div class="form-group mb-3">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>