#signupModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.modal-dialog {
    margin: 0;
}

.modal-content {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    background-color: #ffffff; 
}

.modal-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.modal-body {
    padding: 1.6rem;
}

.modal-footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #dee2e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-close {
    padding: 0.5rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.btn-close:hover {
    background-color: #e9ecef;
    border-radius: 50%;
}

.modal-title {
    margin-bottom: 0;
}


.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #2abbca;
    border-color: #2abbca;
}